assets/n8n-video-pipeline-alltalk.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-generator",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "ae3fa3d2-fc82-451f-b2a0-ac7143542033",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [960, 1648],
      "webhookId": "video-generator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4",
              "name": "script",
              "value": "={{ $json.body.script }}",
              "type": "string"
            },
            {
              "id": "ch1channel",
              "name": "channel",
              "value": "={{ $json.body.channel }}",
              "type": "string"
            },
            {
              "id": "i9j0k1l2",
              "name": "image_prompts",
              "value": "={{ $json.body.image_prompts }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "e633e8e5-2733-4d75-8560-d2cad3c40044",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1168, 1648]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "v1voiceid",
              "name": "alltalk_voice",
              "value": "={{ $json.channel === 'gracenote' ? 'female_01.wav' : 'male_01.wav' }}",
              "type": "string"
            },
            {
              "id": "v2script",
              "name": "script",
              "value": "={{ $json.script }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-5678-90ab-cdef-111213141516",
      "name": "Map Voice ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1380, 1648]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7851/api/tts-generate",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "text_input", "value": "={{ $json.script }}" },
            { "name": "text_filtering", "value": "standard" },
            { "name": "character_voice_gen", "value": "={{ $json.alltalk_voice }}" },
            { "name": "narrator_enabled", "value": "false" },
            { "name": "narrator_voice_gen", "value": "={{ $json.alltalk_voice }}" },
            { "name": "text_not_inside", "value": "character" },
            { "name": "language", "value": "en" },
            { "name": "output_file_name", "value": "=n8n_gen_{{ $now.toMillis() }}" },
            { "name": "output_file_timestamp", "value": "true" },
            { "name": "autoplay", "value": "false" },
            { "name": "autoplay_volume", "value": "0.8" }
          ]
        },
        "options": {}
      },
      "id": "el1alltalk-tts",
      "name": "Generate AllTalk TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 1520]
    },
    {
      "parameters": {
        "url": "={{ $json.output_file_url.replace('127.0.0.1', 'host.docker.internal') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "voiceover_audio"
            }
          }
        }
      },
      "id": "d1download-audio",
      "name": "Download Audio from AllTalk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 1520]
    },
    {
      "parameters": {
        "workflow": "={\n  \"6\": {\n    \"inputs\": {\n      \"text\": \"{{ $('Extract Payload').item.json.image_prompts[0] }}\",\n      \"clip\": [\"4\", 1]\n    },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"3\": {\n    \"inputs\": {\n      \"seed\": {{ Math.floor(Math.random() * 1000000) }},\n      \"steps\": 20,\n      \"cfg\": 8.0,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"normal\",\n      \"denoise\": 1,\n      \"model\": [\"4\", 0],\n      \"positive\": [\"6\", 0],\n      \"negative\": [\"7\", 0],\n      \"latent_image\": [\"5\", 0]\n    },\n    \"class_type\": \"KSampler\"\n  },\n  \"4\": {\n    \"inputs\": { \"ckpt_name\": \"realvisxlV50_v50LightningBakedvae.safetensors\" },\n    \"class_type\": \"CheckpointLoaderSimple\"\n  },\n  \"5\": {\n    \"inputs\": { \"width\": 1080, \"height\": 1920, \"batch_size\": 1 },\n    \"class_type\": \"EmptyLatentImage\"\n  },\n  \"7\": {\n    \"inputs\": { \"text\": \"ugly, blurry, low quality, distorted, text, watermark, people, faces, human, man, woman\", \"clip\": [\"4\", 1] },\n    \"class_type\": \"CLIPTextEncode\"\n  },\n  \"8\": { \"inputs\": { \"samples\": [\"3\", 0], \"vae\": [\"4\", 2] }, \"class_type\": \"VAEDecode\" },\n  \"9\": { \"inputs\": { \"filename_prefix\": \"grace_note\", \"images\": [\"8\", 0] }, \"class_type\": \"SaveImage\" }\n}",
        "outputFormat": "png"
      },
      "id": "c1comfy-ui-node",
      "name": "Generate Image (ComfyUI)",
      "type": "n8n-nodes-comfyui.comfyui",
      "typeVersion": 1,
      "position": [1600, 1776],
      "credentials": { "comfyUIApi": { "id": "YbqnfbA2fymWoTNg", "name": "ComfyUI account" } }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "m1merge-node",
      "name": "Merge Audio + Image",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2050, 1648]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5055/assemble",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_path\": \"{{ $('Generate Image (ComfyUI)').item.json.filename }}\",\n  \"audio_path\": \"base64:voiceover_{{ $now.toMillis() }}.wav:{{ $binary.voiceover_audio.data }}\",\n  \"effect\": \"zoom_in\",\n  \"subtitle\": \"{{ $('Extract Payload').item.json.script }}\",\n  \"dynamic_subtitles\": false,\n  \"bg_music_dir\": \"C:/Users/jcorc/Music\"\n}"
      },
      "id": "f1flask-assemble",
      "name": "Assemble Video (Flask)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 1648]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Extract Payload", "type": "main", "index": 0 }]] },
    "Extract Payload": { "main": [[{ "node": "Map Voice ID", "type": "main", "index": 0 }]] },
    "Map Voice ID": { "main": [[{ "node": "Generate AllTalk TTS", "type": "main", "index": 0 }, { "node": "Generate Image (ComfyUI)", "type": "main", "index": 0 }]] },
    "Generate AllTalk TTS": { "main": [[{ "node": "Download Audio from AllTalk", "type": "main", "index": 0 }]] },
    "Download Audio from AllTalk": { "main": [[{ "node": "Merge Audio + Image", "type": "main", "index": 0 }]] },
    "Generate Image (ComfyUI)": { "main": [[{ "node": "Merge Audio + Image", "type": "main", "index": 1 }]] },
    "Merge Audio + Image": { "main": [[{ "node": "Assemble Video (Flask)", "type": "main", "index": 0 }]] }
  }
}
